
.slick-next:before
{
    color: black !important;
    font-size: 50px !important;
}

.slick-prev:before
{
    color: black !important;
    font-size: 50px !important;
}

.slick-prev
{
    left: -60px !important;
}

.slick-next
{
    right: -30px !important;
}

