@media only screen and (max-width:1200px){
    .logo {
        color: black !important;
        font-size: 25px !important;
        font-weight: bolder !important;
        margin-top: 10px !important
    }

    .search-bar {
        display: none !important;
    }

    .search-icon {
        display: block !important;
        margin-top: 20px !important;
        margin-left: 10px !important
    }

    .menu-icon {
        display: block !important;
        font-size: 30px !important;
    }

    .cart-icon{
        display: none !important
    }

    .noti-icon {
        display: none !important
    }

    .cart-number{
        display: none !important
    }

    .avatar-icon {
        display: none !important
    }

    .login-icon {
        display: none !important
    }

    .mobile-icon {
        display: block !important
    }

    .user-icon {
        display: block !important
    }

    .nav-left {
        padding-left: 0 !important;
    }

    .nav-right {
        padding-left: 0 !important;
        padding-bottom: 20px !important
    }
}
